<div class="join">
    <header>
        <h2>Join the colors.</h2>
    </header>
    <span>There are only 3 colors, 10 digits</span>
    <div class="button-wrapper">
        <button class="button button--outline">Join now</button>
    </div>
</div>