{% set headerClass = "contact-header" %}
{% set nameBase = "Contact" %}
{% extends "template/layout.njk" %}

{% block content %}
    <main class="contact-page">
        {% include "partials/section/base.njk" %}
    </main>
{% endblock %}