<section class="b-music" style="background-image: url(/images/slides/bg-footer.jpg);">
<div class="b-music-promo">
    <h3>Music is all of a sudden much more <span>colorful.</span></h3>
    <button class="button button--outline">View more</button>
</div>
</section>