.services-header {
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: $spacer*1.25;
  animation: none;
  .join {
    display: none;
  }
}