@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/OpenSans-Light.woff') format('woff');
}


@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto/OpenSans-Regular.woff') format('woff');
}


@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/OpenSans-Bold.woff') format('woff');
}
