<footer class="page-footer">
    <div class="line-bottom" style="background-image: url(/images/slides/line-bottom.png)"></div>
    <div class="copyright">
        <p>Copyright © 2013 Css Author</p>
    </div>
</footer>